.icon {
  display: inline-block;
  width: 15px;
  height: auto;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}
li {
  display: block;
  width: 100%;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  background: #333;
  color: white;
}

.comment-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 20px 5px 15px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  input {
    width: 70%;
    height: 30px;
    background: #ededed;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding: 0 20px;
  }
  button {
    background: #fdda06;
    border: 0;
    width: 25%;
    height: 30px;
    border-radius: 5px;
  }
}